<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prometei</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>.content {padding-top: 80px;}</style>
  </head>

  <body>

    {%- block topbar -%}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h2>
              <a href="{{url_for('main.index')}}" class="brand">Prometei web app</a> <small><a href="{{url_for('main.create_account')}}">Create Account</a> | <a href="{{url_for('main.characters')}}">Characters</a> | <a href="{{url_for('main.index')}}">Users</a></small>
          </h2>
        </div>
        <div class="navbar-collapse">
        </div>
      </div>
    </nav>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>