{% extends "base.html" %}
{% block content %}
	

	  <table  class="table table-bordered table-striped">
    <thead>
      <th>AccountID</th>
      <th>Name</th>
      <th>Job</th>
      <th>Race</th>
      <th>Level</th>
      <th>Map</th>
      <th>Str</th>
      <th>Agi</th>
      <th>Con</th>
      <th>Spr</th>
      <th>Acc</th>
      <th>Deleted</th>
      
    </thead>
    <tbody>
    {% for character in characters %}
      <tr>
        <th><a href="{{url_for('main.edit_character', id=character.id)}}">{{ character.account_id }}</a></th>
        <td>{{ character.name }}</td>
        <td>{{ character.job }}</td>
        <td>{{ character.race }}</td>
        <td>{{ character.level }}</td>
        <td>{{ character.map }}</td>
        <td>{{ character.str }}</td>
        <td>{{ character.agi }}</td>
        <td>{{ character.con }}</td>
        <td>{{ character.spr }}</td>
        <td>{{ character.acc }}</td>
        {% if character.deleted == 0 %}
        <td>No</td>
        {% else %}
        <td>Yes</td>
        {% endif %}
        <td><a href="{{url_for('main.edit_character', id=character.id)}}" class="btn btn-primary">Edit</a></td>
        <td><a href="{{url_for('main.delete_character', id=character.id)}}" class="btn btn-danger">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
 
{% endblock %}